
body {
    margin: 0;
    padding: 0;

    font-family: 'Roboto', 'Arial', sans-serif;

    position: relative;

}

body.overlay:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 100;
}

.bgc-1 {
    background-color: #849d8f;
}

.bgc-2 {
    background-color: #8996a6;
}

.bgc-3 {
    background-color: #9d8b84;
}

.index-page {
    background-image: url("../img/light.png");
    background-repeat: no-repeat;
    background-position: center 0;
}

.inner-page {
    background-color: #849d8f;
}


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    -webkit-clip-path: inset(100%);

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    display: block;
    text-decoration: none;
}

.anylink:hover,
.anylink:focus {
    color: #ffbc9e;
    border-bottom: 1px solid rgba(249, 172, 159, 0.3);
}

.anylink-bgc-w:hover,
.anylink-bgc-w:focus {
    color: #e84d37;
    border-bottom: 1px solid rgba(236, 89, 60, 0.3);
}


.container {
    width: 1146px;
    margin: 0 auto;
}

.main-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.main-header-logo {
    margin-top: 9px;
}

.site-navigation {
    margin: 0;
    padding: 0;
    margin-left: 24px;
    width: 675px;

    list-style: none;

    position: relative;

    font-size: 16px;
    line-height: 18px;
    font-weight: 700;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.site-navigation-item {
    position: relative;
}

.site-navigation a {
    color: #ffffff;
    padding: 9px 13px;
}

.site-navigation-item-active > a {
    background-color: #d07058;

    border-radius: 50px;
}

.site-navigation-item:not(:last-child) {
    margin-right: 30px;
}

.site-navigation-item:not(.site-navigation-item-active) a::after {
    content: "";

    position: absolute;

    width: calc(100% - 26px);
    height: 1px;

    left: 13px;
    bottom: 8px;

    background-color: rgba(255, 255, 255, 0.2);
}

.sublist-navigation li:last-child a::after {
    content: '';
    position: absolute;

    width: 0;

    background: none;
    ;
}

.site-navigation-item:not(.site-navigation-item-active) a:hover:not(.sublist-navigation-item-active),
.site-navigation-item:not(.site-navigation-item-active) a:focus {
    color: #333333;
    background-color: #fff;
    border-radius: 50px;
}

.site-navigation-item:not(.site-navigation-item-active) a:active {
    color: #333333;
    background-color: #ededed;
    border-radius: 50px;
    -webkit-box-shadow: inset 0px 2px 1px 0px #696969;
            box-shadow: inset 0px 2px 1px 0px #696969;
}

.site-navigation-item a:hover::after,
.site-navigation-item a:focus::after,
.site-navigation-item a:active::after {
    content: '';
    position: absolute;
    width: 0;
}

.sublist-navigation {
    min-width: 143px;

    margin: 0;
    padding: 5px 0;

    position: absolute;

    top: 40px;
    left: -19px;

    font-weight: 400;
    list-style: none;

    background-color: #f8f7f4;

    border-radius: 3px;
    z-index: 5;
    display: none;
}

.site-navigation-item-catalog:hover .sublist-navigation {
    display: block;
}

.sublist-navigation a {
    padding: 7px 20px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;

    color: #353535;
    border-bottom: none;
}

.sublist-navigation-item {
    position: relative;
}

.sublist-navigation-item-new a {
    font-weight: 700;
    margin-bottom: 12px;
}

.sublist-navigation-item-new::before {
    content: "";

    position: absolute;

    width: 90%;
    height: 1px;

    top: 36px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);

    background-color: #353535;
    opacity: 0.2;
}

.sublist-navigation-item-active a {
    color: #ffffff;
    background-color: #d07058;
}

.site-navigation-item .sublist-navigation-item:not(.sublist-navigation-item-active) a:hover,
.site-navigation-item .sublist-navigation-item:not(.sublist-navigation-item-active) a:focus {
    background-color: #fbded7;
    border-radius: 0;
}

.site-navigation-item .sublist-navigation-item:not(.sublist-navigation-item-active) a:active {
    background-color: #f6b5a5;
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;

}

.search-button {
    width: 32px;
    height: 32px;

    margin-top: -3px;

    position: relative;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    background-color: rgba(255, 255, 255, 0.2);

    border-radius: 50%;
    border: none;

    cursor: pointer;
}

.search-button:hover,
.search-button:focus {
    background-color: rgba(255, 255, 255, 1);
}

.search-button:hover path,
.search-button:focus path {
    fill: #000000;
}

.search {
    margin-left: auto;

    position: relative;
}

.search-input-bgc {
    margin: 0;


    position: absolute;
    top: 36px;
    left: -309px;

    padding: 20px 15px;
    background-color: #f8f7f4;
    border-radius: 3px;
    display: none;

    z-index: 1;
}

.search-show {
    display: block;
}

.search-input {
    width: 311px;
    margin: 0;
    padding: 9px 15px;

    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #323232;

    border: 1px solid #d3d3d2;
    border-radius: 3px;

    -webkit-box-sizing: border-box;

            box-sizing: border-box;
}

.search-input::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;

    color: #999999;
}

.search-input::-moz-placeholder {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;

    color: #999999;
}

.search-input:-ms-input-placeholder {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;

    color: #999999;
}

.search-input::-ms-input-placeholder {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;

    color: #999999;
}

.search-input::placeholder {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;

    color: #999999;
}

.search-input:hover {
    border: 2px solid #c7c6c5;
    padding: 8px 14px;
}

.search-input:focus {
    border: 2px solid #8fbdec;
    padding: 8px 14px;
}

.user-navigation {
    margin: 0;
    padding: 0;
    margin-left: 10px;
    margin-top: -2px;

    list-style: none;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}

.user-navigation-item:not(:last-child) {
    margin-right: 10px;
}

.user-navigation a {
    color: #ffffff;
    background-color: rgba(255,255,255,0.2);

    border-radius: 50px 50px 50px 50px;
}

.user-navigation .basket-link-full {
    color: #323232;
    background-color: #f7f6f3;
    padding: 8.5px 16px 7.5px 45px;
}

.login-link {
    padding: 5.5px 16px 7.5px 16px;

    position: relative;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.login-link svg {
    margin-right: 7px;
}

.login-link:hover,
.login-link:focus {
    color: #323232;
    background-color: #f8f7f4;
}

.login-link:hover polygon,
.login-link:focus polygon,
.login-link:hover path,
.login-link:focus path {
    fill: #000000;
}

.basket-link {
    padding: 8.5px 34px 7.5px 45px;

    position: relative;
}

.basket-link::before {
    content: "";

    position: absolute;

    width: 21px;
    height: 20px;
    left: 16px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);

    background-image: url("../img/icon-basket.svg");
}

.basket-link-full::before {
    content: "";

    position: absolute;

    width: 21px;
    height: 20px;
    left: 16px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);

    background-image: url("../img/full-basket.svg");
}

.header-info {
    margin: 0;
    padding: 0;

    margin-left: auto;
    margin-top: -6px;
    text-align: right;

    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    color: #ffffff;
}

.header-info span {
    font-size: 22px;
    line-height: 24px;
}

.sliders {
    position: relative;
}

.slider-show {
    display: block;
}

.slider-none {
    display: none;
}

.slider-list {
    margin: 0;
    padding: 0;
    margin-top: -28px;

    list-style: none;
}

.slider-item p {
    margin: 0;
    padding: 0;
    width: 690px;

    margin-left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);

    font-size: 60px;
    line-height: 60.35px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
}

.slider-button {
    width: 278px;
    padding: 10px 0;
    margin-top: 30px;

    font-size: 32px;
    line-height: 44px;
    font-weight: 700;
    color: #ffffff;

    margin-left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);

    border: none;
    border-radius: 50px 50px 50px 50px;

    background: -webkit-gradient(linear, left top, right top, from(#e74a35), to(#f26843));

    background: -o-linear-gradient(left, #e74a35 0%, #f26843 100%);

    background: linear-gradient(to right, #e74a35 0%, #f26843 100%);
    -webkit-box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
            box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
    text-shadow: 0px 2px 5px #a0200b;

    cursor: pointer;
}

.sliders-controls {
    position: absolute;
    width: 58px;

    left: 0;
    bottom: 102px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.slider-label {
    font-size: 0;
    cursor: pointer;
}

.slider-input + label::after {
    content: "";

    position: absolute;

    width: 16px;
    height: 16px;

    border: 2px solid #ffffff;
    border-radius: 50%;
}

.slider-input + label:hover::after,
.slider-input:focus + label::after {
    background-color: rgba(248, 247, 244, 0.4);
}

.slider-input:checked + label::before {
    content: "";

    position: absolute;

    width: 20px;
    height: 20px;

    background-color: #ffffff;
    border-radius: 50%;
}

.si-1 {
    background-image: url("../img/slider-1.png");
    background-repeat: no-repeat;
    background-position: center 0;
    padding-top: 309px;
    padding-bottom: 60px;
    z-index: -1;
}

.si-2 {
    background-image: url("../img/slider-2.png");
    background-repeat: no-repeat;
    background-position: center 0;
    padding-top: 309px;
    padding-bottom: 60px;
    z-index: -1;
}

.si-3 {
    background-image: url("../img/slider-3.png");
    background-repeat: no-repeat;
    background-position: center 0;
    padding-top: 309px;
    padding-bottom: 60px;
    z-index: -1;
}

.banners {
    margin-top: -19px;
}

.banners-list {
    margin: 0;
    padding: 0;

    font-weight: 700;
    color: #ffffff;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    list-style: none;
}

.banners-item {
    width: 524px;
    padding: 23px 18px;
}

.banners-item h2 {
    margin: 0;
    padding: 0;

    font-size: 35px;
    line-height: 41px;
}

.banners-item p {
    margin: 0;
    padding: 0;
    margin-top: 16px;

    font-size: 18px;
    line-height: 22px;
}

.button-banners {
    display: block;

    width: 165px;
    margin-top: 41px;
    padding: 10px 0;
    margin-left: auto;

    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;

    border: none;
    border-radius: 50px 50px 50px 50px;

    background: -webkit-gradient(linear, left top, right top, from(#e74a35), to(#f26843));

    background: -o-linear-gradient(left, #e74a35 0%, #f26843 100%);

    background: linear-gradient(to right, #e74a35 0%, #f26843 100%);
    -webkit-box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
            box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
    text-shadow: 0px 2px 5px #a0200b;

    cursor: pointer;
}

.bi-1 {
    background-color: #000000;
    background-image: url("../img/raspberry-bgi.jpg");
    background-repeat: no-repeat;
    border-radius: 20px;
    z-index: 1;
}

.bi-2 {
    background-color: #000000;
    background-image: url("../img/chocolate-bgi.jpg");
    background-repeat: no-repeat;
    border-radius: 20px;
    z-index: 1;
}

.catalog {
    margin-top: 35px;
}

.catalog-list {
    margin: 0;
    padding: 0;
    margin-left: -26px;

    position: relative;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    list-style: none;

    z-index: 1;
}

.catalog-item {
    width: 267px;

    margin-left: 26px;
    margin-bottom: 40px;

    position: relative;

    text-align: center;

    z-index: 4;
}

.catalog-item a::after {
    content: "";

    position: absolute;

    width: 293px;
    height: 405px;

    top: -6px;
    left: -14px;

    background-color: rgba(248, 247, 244, 0.4);
    border-radius: 5px;
    -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);

    z-index: -1;

    display: none;
}

.hit::before {
    content: "";

    position: absolute;
    width: 61px;
    height: 61px;

    top: 0;
    left: 0;

    background-image: url("../img/hit.svg");
}

.catalog-item a {
    color: #ffffff;
}

.price-weight {
    margin: 0;
    padding: 0;

    margin-top: -60px;

    text-align: left;
}

.price {
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    text-transform: uppercase;
}

.weight {
    font-size: 30px;
    line-height: 45px;
    font-weight: 700;
}

.name-icecream-wrapper {
    margin-top: 14px;
}

.name-icecream {
    margin: 0;
    padding: 0;
    display: inline;

    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.button-catalog {
    width: 200px;
    padding: 10px 0;


    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;


    position: absolute;
    bottom: -60px;
    left: 50%;

    -webkit-transform: translateX(-50%);

        -ms-transform: translateX(-50%);

            transform: translateX(-50%);

    border: none;
    border-radius: 50px 50px 50px 50px;

    background: -webkit-gradient(linear, left top, right top, from(#e74a35), to(#f26843));

    background: -o-linear-gradient(left, #e74a35 0%, #f26843 100%);

    background: linear-gradient(to right, #e74a35 0%, #f26843 100%);
    -webkit-box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
            box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
    text-shadow: 0px 2px 5px #a0200b;

    cursor: pointer;

    z-index: 2;

    display: none;
}

.catalog-item:hover a::after,
.catalog-item:hover .button-catalog {
    display: block;
}

.catalog-item:hover {
    z-index: 5;
}

.features {
    padding: 27px 34px 27px 20px;

    background-image: url("../img/waffle-bgi.jpg");
    border-radius: 20px;
}

.features h2 {
    margin: 0;
    padding: 0;

    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    color: #323232;
}

.features-list {
    margin: 0;
    padding: 0;

    position: relative;

    list-style: none;

    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #323232;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.features-item {
    width: 485px;
    padding-left: 55px;
}

.bgc-ice-cream {
    background-image: url("../img/features-ice-cream.svg");
    background-repeat: no-repeat;
    background-position: 0 8px;
    padding-top: 22px;
}

.bgc-leaf {
    background-image: url("../img/features-leaf.svg");
    background-repeat: no-repeat;
    background-position: 0 8px;
    padding-top: 22px;
}

.bgc-cow {
    background-image: url("../img/features-cow.svg");
    background-repeat: no-repeat;
    background-position: 0 8px;
    padding-top: 22px;
}

.bgc-thermometer {
    background-image: url("../img/features-thermometer.svg");
    background-repeat: no-repeat;
    background-position: 0 8px;
    padding-top: 22px;
}

.articles {
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}


.newsblog {
    width: 540px;
    min-height: 194px;
    padding: 24px 0 0 20px;
}

.newsblog h3 {
    margin: 0;
    padding: 0;

    margin-bottom: 7px;

    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: #323232;
}

.newsblog a {
    display: inline;

    font-size: 24px;
    line-height: 30px;
    font-weight: 700;

    color: #323232;
    border-bottom: 2px solid #353535;
}

.newsblog a:hover {
    border-bottom: 1px solid rgba(236, 89, 60, 0.3);
}

.newsblog {
    background-image: url("../img/strawberry-bgi.jpg");
    background-repeat: no-repeat;
    border-radius: 20px;
    z-index: 1;
}

.distribution {
    padding: 5px;

    border-radius: 20px;

    background: -o-linear-gradient(135deg,
            #f8f7f4 1%,
            #92cdff 1% 2%,
            #f8f7f4 2% 3%,
            #fe9e90 3% 4%,
            #f8f7f4 4% 5%,
            #92cdff 5% 6%,
            #f8f7f4 6% 7%,
            #fe9e90 7% 8%,
            #f8f7f4 8% 9%,
            #92cdff 9% 10%,
            #f8f7f4 10% 11%,
            #fe9e90 11% 12%,
            #f8f7f4 12% 13%,
            #92cdff 13% 14%,
            #f8f7f4 14% 15%,
            #fe9e90 15% 16%,
            #f8f7f4 16% 17%,
            #92cdff 17% 18%,
            #f8f7f4 18% 19%,
            #fe9e90 19% 20%,
            #f8f7f4 20% 21%,
            #92cdff 21% 22%,
            #f8f7f4 22% 23%,
            #fe9e90 23% 24%,
            #f8f7f4 24% 25%,
            #92cdff 25% 26%,
            #f8f7f4 26% 27%,
            #fe9e90 27% 28%,
            #f8f7f4 28% 29%,
            #92cdff 29% 30%,
            #f8f7f4 30% 31%,
            #fe9e90 31% 32%,
            #f8f7f4 32% 33%,
            #92cdff 33% 34%,
            #f8f7f4 34% 35%,
            #fe9e90 35% 36%,
            #f8f7f4 36% 37%,
            #92cdff 37% 38%,
            #f8f7f4 38% 39%,
            #fe9e90 39% 40%,
            #f8f7f4 40% 41%,
            #92cdff 41% 42%,
            #f8f7f4 42% 43%,
            #fe9e90 43% 44%,
            #f8f7f4 44% 45%,
            #92cdff 45% 46%,
            #f8f7f4 46% 47%,
            #fe9e90 47% 48%,
            #f8f7f4 48% 49%,
            #92cdff 49% 50%,
            #f8f7f4 50% 51%,
            #fe9e90 51% 52%,
            #f8f7f4 52% 53%,
            #92cdff 53% 54%,
            #f8f7f4 54% 55%,
            #fe9e90 55% 56%,
            #f8f7f4 56% 57%,
            #92cdff 57% 58%,
            #f8f7f4 58% 59%,
            #fe9e90 59% 60%,
            #f8f7f4 60% 61%,
            #92cdff 61% 62%,
            #f8f7f4 62% 63%,
            #fe9e90 63% 64%,
            #f8f7f4 64% 65%,
            #92cdff 65% 66%,
            #f8f7f4 66% 67%,
            #fe9e90 67% 68%,
            #f8f7f4 68% 69%,
            #92cdff 69% 70%,
            #f8f7f4 70% 71%,
            #fe9e90 71% 72%,
            #f8f7f4 72% 73%,
            #92cdff 73% 74%,
            #f8f7f4 74% 75%,
            #fe9e90 75% 76%,
            #f8f7f4 76% 77%,
            #92cdff 77% 78%,
            #f8f7f4 78% 79%,
            #fe9e90 79% 80%,
            #f8f7f4 80% 81%,
            #92cdff 81% 82%,
            #f8f7f4 82% 83%,
            #fe9e90 83% 84%,
            #f8f7f4 84% 85%,
            #92cdff 85% 86%,
            #f8f7f4 86% 87%,
            #fe9e90 87% 88%,
            #f8f7f4 88% 89%,
            #92cdff 89% 90%,
            #f8f7f4 90% 91%,
            #fe9e90 91% 92%,
            #f8f7f4 92% 93%,
            #92cdff 93% 94%,
            #f8f7f4 94% 95%,
            #fe9e90 95% 96%,
            #f8f7f4 96% 97%,
            #92cdff 97% 98%,
            #f8f7f4 98% 99%,
            #fe9e90 100%);

    background: linear-gradient(-45deg,
            #f8f7f4 1%,
            #92cdff 1% 2%,
            #f8f7f4 2% 3%,
            #fe9e90 3% 4%,
            #f8f7f4 4% 5%,
            #92cdff 5% 6%,
            #f8f7f4 6% 7%,
            #fe9e90 7% 8%,
            #f8f7f4 8% 9%,
            #92cdff 9% 10%,
            #f8f7f4 10% 11%,
            #fe9e90 11% 12%,
            #f8f7f4 12% 13%,
            #92cdff 13% 14%,
            #f8f7f4 14% 15%,
            #fe9e90 15% 16%,
            #f8f7f4 16% 17%,
            #92cdff 17% 18%,
            #f8f7f4 18% 19%,
            #fe9e90 19% 20%,
            #f8f7f4 20% 21%,
            #92cdff 21% 22%,
            #f8f7f4 22% 23%,
            #fe9e90 23% 24%,
            #f8f7f4 24% 25%,
            #92cdff 25% 26%,
            #f8f7f4 26% 27%,
            #fe9e90 27% 28%,
            #f8f7f4 28% 29%,
            #92cdff 29% 30%,
            #f8f7f4 30% 31%,
            #fe9e90 31% 32%,
            #f8f7f4 32% 33%,
            #92cdff 33% 34%,
            #f8f7f4 34% 35%,
            #fe9e90 35% 36%,
            #f8f7f4 36% 37%,
            #92cdff 37% 38%,
            #f8f7f4 38% 39%,
            #fe9e90 39% 40%,
            #f8f7f4 40% 41%,
            #92cdff 41% 42%,
            #f8f7f4 42% 43%,
            #fe9e90 43% 44%,
            #f8f7f4 44% 45%,
            #92cdff 45% 46%,
            #f8f7f4 46% 47%,
            #fe9e90 47% 48%,
            #f8f7f4 48% 49%,
            #92cdff 49% 50%,
            #f8f7f4 50% 51%,
            #fe9e90 51% 52%,
            #f8f7f4 52% 53%,
            #92cdff 53% 54%,
            #f8f7f4 54% 55%,
            #fe9e90 55% 56%,
            #f8f7f4 56% 57%,
            #92cdff 57% 58%,
            #f8f7f4 58% 59%,
            #fe9e90 59% 60%,
            #f8f7f4 60% 61%,
            #92cdff 61% 62%,
            #f8f7f4 62% 63%,
            #fe9e90 63% 64%,
            #f8f7f4 64% 65%,
            #92cdff 65% 66%,
            #f8f7f4 66% 67%,
            #fe9e90 67% 68%,
            #f8f7f4 68% 69%,
            #92cdff 69% 70%,
            #f8f7f4 70% 71%,
            #fe9e90 71% 72%,
            #f8f7f4 72% 73%,
            #92cdff 73% 74%,
            #f8f7f4 74% 75%,
            #fe9e90 75% 76%,
            #f8f7f4 76% 77%,
            #92cdff 77% 78%,
            #f8f7f4 78% 79%,
            #fe9e90 79% 80%,
            #f8f7f4 80% 81%,
            #92cdff 81% 82%,
            #f8f7f4 82% 83%,
            #fe9e90 83% 84%,
            #f8f7f4 84% 85%,
            #92cdff 85% 86%,
            #f8f7f4 86% 87%,
            #fe9e90 87% 88%,
            #f8f7f4 88% 89%,
            #92cdff 89% 90%,
            #f8f7f4 90% 91%,
            #fe9e90 91% 92%,
            #f8f7f4 92% 93%,
            #92cdff 93% 94%,
            #f8f7f4 94% 95%,
            #fe9e90 95% 96%,
            #f8f7f4 96% 97%,
            #92cdff 97% 98%,
            #f8f7f4 98% 99%,
            #fe9e90 100%);
}

.distribution-wrapper {
    width: 510px;
    padding: 30px 20px 35px 20px;
    ;

    background-color: #ffffff;
    border-radius: 20px;
}

.distribution p {
    margin: 0;
    padding: 0;

    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #5a5a5a;
}

.distribution-form {
    margin-top: 35px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.input-distribution {
    width: 366px;
    padding: 10px 15px;

    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #999999;

    border: 1px solid #d3d3d2;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.distribution-button {
    width: 128px;
    padding: 10px 0;

    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;

    border: none;
    border-radius: 50px 50px 50px 50px;

    background: -webkit-gradient(linear, left top, right top, from(#e74a35), to(#f26843));

    background: -o-linear-gradient(left, #e74a35 0%, #f26843 100%);

    background: linear-gradient(to right, #e74a35 0%, #f26843 100%);
    -webkit-box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
            box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);

    cursor: pointer;
}

.main-contacts {
    margin-top: 40px;
    position: relative;
}

.map {
    margin: 0;
    padding: 0;

    position: relative;

    margin-left: -27px;
}

.map::before {
    content: "";

    position: absolute;

    width: 80px;
    height: 140px;

    top: 137px;
    left: 266px;

    background-image: url("../img/map-marker.png");
}

.map img {
    max-width: none;
}

.contacts {
    width: 252px;
    padding: 24px 25px 31px 25px;

    position: absolute;
    top: 62px;
    right: 0;

    background-color: #ffffff;
    border-radius: 20px;
}

.contacts p {
    margin: 0;
    padding: 0;

    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #323232;
}

.contacts b {
    display: block;

    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #323232;
}

.contacts b:first-child {
    margin-top: 3px;
    margin-bottom: 14px;
}

.contacts b:nth-child(2) {
    margin-top: 6px;
    margin-bottom: 4px;
}

.contacts-button {
    width: 251px;
    padding: 10px 0;
    margin-top: 26px;

    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;

    border: none;
    border-radius: 50px 50px 50px 50px;

    background: -webkit-gradient(linear, left top, right top, from(#e74a35), to(#f26843));

    background: -o-linear-gradient(left, #e74a35 0%, #f26843 100%);

    background: linear-gradient(to right, #e74a35 0%, #f26843 100%);
    -webkit-box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
            box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
    text-shadow: 0px 2px 5px #a0200b;

    cursor: pointer;
}

.main-footer {
    padding: 17px 0 23px 0;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;

    -webkit-box-align: center;

        -ms-flex-align: center;

            align-items: center;
}


.social-list {
    margin: 0;
    padding: 0;

    width: 185px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    list-style: none;
}

.social-item img {
    opacity: 0.8;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}

.social-item img:hover,
.social-item a:focus img {
    opacity: 1;
    border: 2px solid rgba(255, 255, 255, 0.7);
}

.social-item a:active img {
    opacity: 0.9;
    border: 2px solid rgba(255, 255, 255, 0.7);

}

.footer-navigation {
    width: 343px;
    margin: 0;
    padding: 0;
    margin-left: 236px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;

    position: relative;

    list-style: none;

    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
}

.footer-navigation li:first-child {
    font-weight: 700;
}

.footer-navigation li:first-child::before {
    content: "";

    position: absolute;

    width: 15px;
    height: 13px;

    top: 4px;
    left: -23px;

    background-image: url("../img/heart.svg");
}

.footer-navigation li {
    margin-right: 33px;
    margin-bottom: 4px;
}

.footer-navigation li:nth-child(3) {
    margin-right: 38px;
}

.footer-navigation-item a {
    color: #ffffff;

    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.copyright {
    margin-left: auto;
}

.copyright-logo {
    display: block;
    width: 108px;
    height: 39px;
    background-image: url("../img/htmllogo.svg");
    background-repeat: no-repeat;
    margin-bottom: 5px;
}

.copyright p {
    margin: 0;
    padding: 0;

    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;

}

.link-htmlacademy {
    display: inline;

    color: #ffffff;

    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.modal-login {
    width: 237px;
    padding: 20px 18px;

    position: absolute;
    top: 60px;
    right: 125px;

    background-color: #f8f7f4;
    border-radius: 7px;

    -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);

            box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);

    display: none;
}

.modal-login-show {
    display: block;
}

.login-form input {
    width: 239px;

    padding: 9px 15px;
    margin-bottom: 20px;

    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #323232;

    border: 1px solid #d3d3d2;
    border-radius: 3px;

    -webkit-box-sizing: border-box;

            box-sizing: border-box;
}

.login-form input::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;

    color: #999999;
}

.login-form input::-moz-placeholder {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;

    color: #999999;
}

.login-form input:-ms-input-placeholder {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;

    color: #999999;
}

.login-form input::-ms-input-placeholder {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;

    color: #999999;
}

.login-form input::placeholder {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;

    color: #999999;
}

.login-form input:hover {
    border: 2px solid #c7c6c5;
    padding: 8px 14px;
}

.login-form input:focus {
    border: 2px solid #8fbdec;
    padding: 8px 14px;
}


.login-help-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.button-modal-login,
.feedback-button {
    width: 100px;
    padding: 10px 0;

    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;

    border: none;
    border-radius: 50px 50px 50px 50px;

    background: -webkit-gradient(linear, left top, right top, from(#e74a35), to(#f26843));

    background: -o-linear-gradient(left, #e74a35 0%, #f26843 100%);

    background: linear-gradient(to right, #e74a35 0%, #f26843 100%);
    -webkit-box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
            box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
    text-shadow: 0px 2px 5px #a0200b;

    cursor: pointer;
}

.modal-login-help {
    margin: 0;
    padding: 0;
    margin-left: 118px;
    margin-top: -40px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    font-size: 13px;
    line-height: 15px;
    font-weight: 400;
}

.modal-login-help a {
    display: block;
    color: #323232;

    border-bottom: 1px solid rgba(50, 50, 50, 0.3);
}

.forgot-password {
    margin-bottom: 7px;
}

.feedback {
    width: 428px;
    padding: 25px;

    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

    background-color: #f8f7f4;
    border-radius: 7px;
    z-index: 101;

    display: none;
}

.feedback-show {
    display: block;
}

.feedback h2 {
    margin: 0;
    padding: 0;

    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    color: #323232;
    margin-bottom: 22px;
}

.feedback input,
.feedback textarea {
    width: 265px;

    padding: 9px 15px;
    margin-bottom: 20px;

    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #323232;

    border: 1px solid #d3d3d2;
    border-radius: 3px;

    -webkit-box-sizing: border-box;

            box-sizing: border-box;
}

.feedback input::-webkit-input-placeholder, .feedback textarea::-webkit-input-placeholder {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color: #999999;
}

.feedback input::-moz-placeholder, .feedback textarea::-moz-placeholder {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color: #999999;
}

.feedback input:-ms-input-placeholder, .feedback textarea:-ms-input-placeholder {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color: #999999;
}

.feedback input::-ms-input-placeholder, .feedback textarea::-ms-input-placeholder {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color: #999999;
}

.feedback input::placeholder,
.feedback textarea::placeholder {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color: #999999;
}

.feedback input:hover,
.feedback textarea:hover {
    border: 2px solid #c7c6c5;
    padding: 8px 14px;
}

.feedback input:focus,
.feedback textarea:focus {
    border: 2px solid #8fbdec;
    padding: 8px 14px;
}

.feedback textarea {
    width: 100%;
    height: 155px;

    resize: none;
}

.feedback-button {
    display: block;

    width: 138px;
    margin-top: 5px;
    margin-left: auto;
}

.modal-close {
    position: absolute;

    width: 18px;
    height: 17px;
    top: 24px;
    right: 16px;

    background-color: transparent;
    font-size: 0;
    border: 0;
    cursor: pointer;
}

.modal-close::before {
    content: "";

    position: absolute;

    width: 2px;
    height: 20px;

    top: -1.5px;
    left: 8.5px;


    background-color: #231f20;

    -webkit-transform: rotate(45deg);

        -ms-transform: rotate(45deg);

            transform: rotate(45deg);

    opacity: 0.5;
}

.modal-close::after {
    content: "";

    position: absolute;

    width: 2px;
    height: 20px;

    top: -1.5px;
    left: 8.5px;

    background-color: #231f20;

    -webkit-transform: rotate(-45deg);

        -ms-transform: rotate(-45deg);

            transform: rotate(-45deg);

    opacity: 0.5;
}

.modal-close:hover::before,
.modal-close:hover::after,
.modal-close:focus::before,
.modal-close:focus::after {
    opacity: 1;
}

.breadcrumbs {
    margin: 0;
    padding: 0;
    margin-top: -17px;

    list-style: none;

    font-size: 14px;
    line-height: 16px;
    font-weight: 400;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
}

.breadcrumbs a {
    color: #ffffff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.breadcrumbs-current {
    color: #ffffff;
    border-bottom: none;
}

.breadcrumbs-item {
    position: relative;
}

.breadcrumbs-item:not(:last-child) {
    margin-right: 22px;
}

.breadcrumbs-item a::after {
    content: '\BB';

    position: absolute;

    width: 6px;
    height: 6px;
    top: 0;
    left: 60px;
}

.page-title {
    margin: 0;
    padding: 0;
    margin-top: 9px;

    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
    color: #ffffff;
}

.filters {
    width: 880px;
    font-weight: 500;
    color: #ffffff;
}

.filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.filter fieldset {
    margin: 0;
    margin-right: 15px;
    padding: 0;
    border: none;
}

.filter legend {
    margin-left: 14px;
    margin-bottom: 6px;
    font-size: 14px;
    line-height: 16px;
}

.sorting {
    width: 193px;
    position: relative;
}

.sort {
    min-width: 193px;
    padding: 9px 0 9px 16px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;

    background-color: #a9bab0;
    border-radius: 50px;

    border: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    position: relative;

    cursor: pointer;
}

.sort option {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #323232;

    background-color: #ffffff;
}

.sort:hover,
.sort:focus {
    color: #323232;
}

.select-wrapper::after {
    content: "";

    position: absolute;

    bottom: 12px;
    right: 14px;

    border-style: solid;
    border-width: 10px 5.5px 0 5.5px;
    border-color: #ffffff transparent transparent transparent;
}

.select-wrapper:hover::after {
    border-color: #323232 transparent transparent transparent;
}

.selected-wrapper::after {
    content: "";

    position: absolute;

    bottom: 14px;
    right: 14px;

    border-style: solid;
    border-width: 5px 3.5px 0 3.5px;
    border-color: #323232 transparent transparent transparent
}

.selected-sort {
    color: #323232;
    background-color: #ffffff;
}

.range {
    width: 218px;
}

.range-controls {
    height: 36px;

    position: relative;

    background-color: #abbcb2;

    border-radius: 50px;
}

.scale {
    position: absolute;

    width: 176px;
    height: 4px;

    top: 50%;
    left: 50%;

    -webkit-transform: translate(-50%, -50%);

        -ms-transform: translate(-50%, -50%);

            transform: translate(-50%, -50%);

    background-color: #d1dad3;
}

.bar {
    width: 106px;
    height: 4px;

    position: relative;

    left: 16px;
    background-color: #f8f7f4;
}

.range-controls .toggle-min {
    position: absolute;

    width: 4px;
    height: 4px;

    top: 50%;
    left: 34px;

    -webkit-transform: translateY(-50%);

        -ms-transform: translateY(-50%);

            transform: translateY(-50%);

    background-color: #ababab;

    border: 8px solid #ffffff;
    border-radius: 50%;

    cursor: pointer;
}

.range-controls .toggle-max {
    position: absolute;

    width: 4px;
    height: 4px;

    top: 50%;
    right: 66px;

    -webkit-transform: translateY(-50%);

        -ms-transform: translateY(-50%);

            transform: translateY(-50%);

    background-color: #ababab;

    border: 8px solid #ffffff;
    border-radius: 50%;

    cursor: pointer;
}

.range-controls .toggle-min:hover,
.range-controls .toggle-max:hover {
    border: 9px solid #ffffff;
}

.richness {
    width: 414px;
}

.richness-list,
.fillers-list {
    margin: 0;
    padding: 9px 17px 9px 46px;

    list-style: none;

    font-size: 16px;
    line-height: 18px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    background-color: #aabcb2;
    border-radius: 50px;
}

.richness-item,
.fillers-item {
    position: relative;
}

.richness-list label,
.fillers-list label {
    cursor: pointer;
}

.filter-input-radio + label::before {
    content: "";

    position: absolute;

    width: 14px;
    height: 14px;

    top: -2px;
    left: -32px;

    border: 4px solid #ffffff;

    border-radius: 50%;
    opacity: 0.8;

}

.filter-input-radio:checked + label::after {
    content: "";

    position: absolute;

    width: 7px;
    height: 7px;

    top: 5.5px;
    left: -24.2px;

    background-color: #ffffff;

    border-radius: 50%;
    opacity: 0.8;
}

.filter-input-radio:hover + label::before,
.filter-input-radio:focus + label::before,
.filter-input-radio:hover:checked + label::after,
.filter-input-radio:focus:checked + label::after {
    opacity: 1;
}

.filter-input-radio:disabled + label,
.filter-input-radio:checked:disabled + label,
.filter-input-radio:disabled + label::before,
.filter-input-radio:checked:disabled + label::before,
.filter-input-radio:disabled + label::after,
.filter-input-radio:checked:disabled + label::after {
    opacity: 0.4;
}


.filter .fillers {
    width: 702px;
    margin-top: 17px;
}

.fillers-list {
    margin: 0;
    padding: 9px 17px 9px 46px;

    list-style: none;

    font-size: 16px;
    line-height: 18px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    background-color: #aabcb2;
    border-radius: 50px;
}

.filter-input-checkbox + label::before {
    content: "";

    position: absolute;

    width: 16px;
    height: 16px;

    top: -2px;
    left: -32px;

    border: 2px solid #e6ebe9;
    border-radius: 3px;
}

.filter-input-checkbox:checked + label::before {
    content: "";

    position: absolute;

    width: 16px;
    height: 16px;

    top: -2px;
    left: -32px;

    border: 2px solid #e6ebe9;
    border-right: none;
    border-radius: 3px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 1px;
}

.filter-input-checkbox:checked + label span::before {
    content: "";

    position: absolute;

    width: 4px;
    height: 9.5px;

    top: 4px;
    left: -25px;

    background-color: #e6ebe9;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.filter-input-checkbox:checked + label span::after {
    content: "";

    position: absolute;

    width: 4px;
    height: 17.5px;

    top: -3px;
    left: -18px;

    background-color: #e6ebe9;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);

}

.filter-input-checkbox:checked ~ .right::after {
    content: "";
    position: absolute;
    top: 8px;
    left: -35px;
    width: 21px;
    height: 10px;
    border-right: 2px solid #e6ebe9;
    border-bottom-right-radius: 3px;

}

.filter-button {
    width: 139px;
    margin: 0;
    padding: 7px 14px;
    margin-top: 39px;

    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    text-align: center;

    background-color: #a6b7ae;

    border: 2px solid #f5f6f5;
    border-radius: 50px;
    cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
    color: #323232;
    background-color: #fbfcfb;
    border: none;
}

.filter-button:active {
    background-color: #eaeaea;
    border: none;
    -webkit-box-shadow: inset 0px 2px 1px 0px #696969;
            box-shadow: inset 0px 2px 1px 0px #696969;

}

.inner-page .catalog {
    margin-top: 40px;
}

.pagination-list {
    margin: 0;
    padding: 0;
    margin-top: 42px;
    margin-bottom: 29px;

    list-style: none;

    position: relative;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;

    font-size: 16px;
    line-height: 18px;
    font-weight: 500;

}

.pagination-list a {
    width: 27px;
    padding: 5px 0px;
    color: #ffffff;
    text-align: center;

    margin-right: 3px;
}

.pagination-item-active a {
    color: #000000;

    background-color: #fff;
    border-radius: 50%;
}




.pagination-item a:hover,
.pagination-item a:focus {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
}

.pagination-item a:active {
    background-color: rgba(255, 255, 255, 1);
    color: #323232;
}

.pagination-item-active a:hover,
.pagination-item-active a:focus,
.pagination-item-active a:active {
    background-color: rgba(255, 255, 255, 1);

}


.previous-page::before {
    content: "";
    position: absolute;
    width: 2px;
    top: 6.8px;
    height: 9px;
    background-color: #ffffff;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    opacity: 0.2;
}

.previous-page::after {
    content: "";
    position: absolute;
    top: 13.59px;
    width: 1.7px;
    height: 6.5px;
    right: 194px;
    background-color: #ffffff;
    -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
            transform: rotate(135deg);
    opacity: 0.2;
}

.next-page::before {
    content: "";
    position: absolute;
    width: 2px;
    top: 6.8px;
    height: 9px;
    background-color: #ffffff;
    -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
            transform: rotate(135deg);

}

.next-page::after {
    content: "";
    position: absolute;
    top: 13.59px;
    width: 1.7px;
    height: 6.5px;
    right: 15px;
    background-color: #ffffff;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);

}

.inner-page .main-footer {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.modal-basket {
    width: 437px;
    padding: 29px 15px 21px 88px;

    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    color: #323232;

    position: absolute;
    top: 57px;
    right: 0;

    background-color: #f8f7f4;
    border-radius: 3px;

    z-index: 1;

    display: none;
}

.modal-basket-show {
    display: block;
}

.basket-list {
    margin: 0;
    padding: 0;

    list-style: none;
    position: relative;
}

.basket-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 37px;
    position: relative;
}

.basket-item p {
    margin: 0;
    padding: 0;
}

.basket-list .product-name {
    width: 225px;
    margin-right: 24px;
}

.basket-list .product-weight {
    width: 108px;
}

.product-weight span {
    color: #999999;
}

.basket-list .totalsum {
    margin-left: 15px;
}

.basket-item::before {
    content: "";

    position: absolute;

    width: 1px;
    height: 15px;

    top: 0px;
    left: -67px;


    background-color: #231f20;

    -webkit-transform: rotate(45deg);

        -ms-transform: rotate(45deg);

            transform: rotate(45deg);

    cursor: pointer;

    opacity: 0.5;
}

.basket-item::after {
    content: "";

    position: absolute;

    width: 1px;
    height: 15px;

    top: 0px;
    left: -67px;

    background-color: #231f20;

    -webkit-transform: rotate(-45deg);

        -ms-transform: rotate(-45deg);

            transform: rotate(-45deg);

    cursor: pointer;

    opacity: 0.5;
}

.basket-item:hover::before,
.basket-item:focus::before,
.basket-item:hover::after,
.basket-item:focus::after {
    opacity: 1;
}

.ice-creame-1::before {
    content: "";

    position: absolute;

    width: 33px;
    height: 33px;

    top: -8px;
    left: -47px;

    background-image: url("../img/small-icecream-1.png");
    background-repeat: no-repeat;
}

.ice-creame-2::before {
    content: "";

    position: absolute;

    width: 33px;
    height: 33px;

    top: -8px;
    left: -47px;

    background-image: url("../img/small-icecream-2.png");
    background-repeat: no-repeat;
}

.sum {
    display: block;

    margin-top: -8px;

    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
    color: #323232;
    text-align: end;
}

.basket-button {
    width: 170px;
    padding: 10px 0;
    margin-top: 12px;
    margin-left: auto;

    display: block;

    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;


    border: none;
    border-radius: 50px 50px 50px 50px;

    background: -webkit-gradient(linear, left top, right top, from(#e74a35), to(#f26843));

    background: -o-linear-gradient(left, #e74a35 0%, #f26843 100%);

    background: linear-gradient(to right, #e74a35 0%, #f26843 100%);
    -webkit-box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
            box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
    text-shadow: 0px 2px 5px #a0200b;

    cursor: pointer;
}

.sum::after {
    content: "";

    position: absolute;

    width: 510px;
    height: 1px;

    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 111px;

    background-color: #cacac7;
}


.button-red:hover,
.button-red:focus {
    background: -webkit-gradient(linear, left top, right top, from(#f58669), to(#ec6f5e));
    background: -o-linear-gradient(left, #f58669 0%, #ec6f5e 100%);
    background: linear-gradient(to right, #f58669 0%, #ec6f5e 100%);
    -webkit-box-shadow: 0px 2px 2px 0px #ac1000;
            box-shadow: 0px 2px 2px 0px #ac1000;
}

.button-red:active {
    background: -webkit-gradient(linear, left top, right top, from(#d74632), to(#e1613e));
    background: -o-linear-gradient(left, #d74632 0%, #e1613e 100%);
    background: linear-gradient(to right, #d74632 0%, #e1613e 100%);
    -webkit-box-shadow: inset 0px 2px 2px 0px #942718;
            box-shadow: inset 0px 2px 2px 0px #942718;
}